$colorBackground: cyan;

@mixin makeContainer {
    padding: 10px 25px;
    margin: 0 auto;
    background-color: gray;
}

@mixin ghost {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: rgba($color: red, $alpha: .3);
    }
}

body {
    background: $colorBackground;
    font-family: sans-serif;

    h1 {
        position: relative;
        color: darken($colorBackground, 10%);
        @include ghost();
    }
}

.container {
     @include makeContainer();
     max-width: 1170px;
}

.container-fluid {
     @include makeContainer();
}